body {
  font-size: 100%;
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #eeeeee;
  overflow: hidden;
}

.body_loading {
  background-color: white;
}
