$primary-color: #333;
$background-color: #eeeeee;
$green: #00a651;
$input-focus-border-color: ($green);
$theme-colors: (
  "biotech": #00a651,
  "primary": #0074d9,
  "secondary": #71767a,
  "success": #00a651,
  "danger": #d14d4d,
  "brown": #6a5a5b,
  "gray": #455a64,
  "light-gray": #d3d3d3,
  "white": #ffffff,
  "royal-blue": #265680,
  "navy-blue": #1c2e4a,
  "neon": #77ab59,
  "third-level": #0d874a,
  "dark-green": #4b5c40,
  "sage": #9aa080,
  "yellow-orange": #e27429,
  "red-orange": #ca4e09,
  "pdf": #d51c00,
  "excel": #016e38
);
