::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #9edebe;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00a651;
}
