.log-cardOld {
  border-left: 4px solid #00a651;
}

.log-cardNew {
  border-left: 4px solid #a5cd39;
}

.log-labelOld {
  color: #00a651;
  font-size: 1.1rem;
}

.log-labelNew {
  color: #a5cd39;
  font-size: 1.1rem;
}

.log-keys {
  border-radius: 0px;
  padding-left: 1rem;
  background-color: #fff;
}

.log-bulletsOld {
  font-size: 11px;
  color: #00a651;
}

.log-bulletsNew {
  font-size: 11px;
  color: #a5cd39;
}

.log-list {
  border-radius: 0px;
  padding-left: 1rem;
  padding-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 1rem;
  background-color: #fff;
}
